* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.debug-ui {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100;
}

.time-display {
  position: fixed;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem;
  z-index: 100;

  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.5);

  color: white;
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 1s ease-in-out;
}

.loader {
  display: inline-flex;
  gap: 10px;
}
.loader:before,
.loader:after {
  content: "";
  height: 5dvh;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,#000 95%,#0000) 35% 35%/1dvh 1dvh no-repeat
    #fff;
  animation: l5 3s infinite;
}
@keyframes l5 {
  0%,11%   {background-position:35% 35%}
  14%,36%  {background-position:65% 35%}
  38%,61%  {background-position:65% 65%}
  64%,86%  {background-position:35% 65%}
  88%,100% {background-position:35% 35%}
}
