* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.debug-ui {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100;
}

.time-display {
  position: fixed;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem;
  z-index: 100;

  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.5);

  color: white;
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
}
